.slider h5,
.slider h3,
.clients h3{
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.parallax-container{
height: 20%;
}

.parallax img{
  filter: grayscale(1);
  opacity: 0.7 !important;
}

.clients img{
  max-width: 200px;
  filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.8));
}

section{
  padding: 20px 0;
}

.card-panel h5{
  font-size: 30px;
}

section, footer{
  padding: 20px 0;
}